<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <changeprice>
            <general>
                <new_price>19.9</new_price>
            </general>
        </changeprice>
    </default>
</config>