<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
    <tab id="customization" translate="label" sortOrder="10">
        <label>Customization</label>
    </tab>
    <section id="changeprice" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
        <class>separator-top</class>
        <label>Change Price</label>
        <tab>customization</tab>
        <resource>Khoai_ChangePrice::config</resource>
        <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Change price of all products as you desired. Remember backup database in order to changing</label>
            <field id="new_price" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>New price</label>
                <validate>validate-number</validate>
                <!--<comment>This new price text will display on both .</comment>-->
            </field>
        </group>
    </section>
</system>
</config>